<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall | Village 88 (Signup)</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/signup_login.js"></script>
</head>
<body>
    <div id="wrapper" data-page="signup"> 
        <button id="jhaver"></button>
        <div id="signup_container" class="signup_login_container">
            <h2>Welcome</h2>
            <h3>Register a new account.</h3>
            <form id="signup_form">
                <div class="input_container">
                    <label for="first_name_input">First Name</label>
                    <input type="text" id="first_name_input" class="signup_input"> 
                </div>
                <div class="input_container">
                    <label for="last_name_input">Last Name</label>
                    <input type="text" id="last_name_input" class="signup_input">
                </div>
                <label for="email_input">Email</label>
                <input type="email" id="email_input" class="signup_input">
                <label for="password_input">Password</label>
                <input type="password" id="password_input" class="signup_input">
                <button type="submit" id="submit_signup"><img src="../assets/images/loading.gif" alt="loading"><span class="signup_processing">Signup</span></button>
                <a href="forum_dashboard.html" id="forum_dashboard_link" class="hidden">Forum Dashboard</a>
            </form>
            <p>Already have an account? <button class="login_btn">Login</button></p>
            <img class="the_wall_logo" src="../assets/images/the_wall_logo.svg" alt="The Wall logo">
        </div>
        <div id="login_container" class="signup_login_container hidden">
            <h2>Welcome</h2>
            <h3>Login your account.</h3>
            <form id="login_form">
                <label for="email_login_input">Email</label>
                <input type="text" id="email_login_input" class="login_input">
                <label for="password_login_input">Password</label>
                <input type="password" id="password_login_input" class="login_input">
                <button type="submit" id="submit_login"><img src="../assets/images/loading.gif" alt="loading"><span class="login_processing">Login</span></button>
            </form>
            <p>Don't have an account? <button class="signup_btn">Sign up</button></p>
            <img class="the_wall_logo" src="../assets/images/the_wall_logo.svg" alt="The Wall logo">
        </div>
    </div>
</body>
</html>