<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="boompanes">WOW</button>
</body>
</html>

<script>
    let boompanes = document.querySelector("#boompanes");
    console.log(boompanes);


    boompanes.addEventListener("click", myFunction);

function myFunction() {
  alert ("Hello World!");
}
</script>
